{# {% extends 'base.html.twig' %} #}

{# {% block title %}Hello {{ controller_name }}!{% endblock %} #}

{# {% block body %} #}

{% for operation in listOp %}
<tr>
  <td><a href="{{ path('editOperation', {'id':operation.Id}) }}">{{operation.OperationName}}</a></td>
  <td>
  	<a class="btn btn-danger" href="{{ path('deleteOperation', {'id':operation.Id}) }}">
  		<i class="glyphicon glyphicon-trash"></i>Supprimer
  	</a>
  </td>
</tr>
{% else %}
<tr>
  <td>Aucune opération de campagne marketing</td>
</tr>
{% endfor %}

{# {% endblock %} #}