{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} - Ajout d'un contactJob
{% endblock %}

{% block body %}
		<h2>Ajout d'un ContactJob</h2>
		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		<a href="list">Retour à la liste</a>
{% endblock %}