{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} - Liste des cibles
{% endblock %}

{% block body %}
		<h2> Liste des cibles</h2>
		<ul>
			{% for param in lesParamTargets %}
			<li>
				{% set id_paramTarget='/parameterTarget/edit/' ~ param.id %}
				<a href={{id_paramTarget}}>{{param.parameterTargetTarget}}</a>
				
				{# Déclaration de la variable id_suppress pour la passer d'URL #}
				{% set id_suppress='/parameterTarget/delete/' ~ param.id %}

				<a href={{id_suppress}} class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>Supprimer</a>				
			</li>
			{% else %}
			<li>Pas de contacts</li>
			{% endfor %}
		</ul>
{% endblock %}