.company-nbCompany a:hover {
    text-decoration: none;
}

.company-nbCompany, .company-nbContact {
    border-radius: 100px;
    text-align: center;
}

.company-nbCompany a, .company-nbContact a {
    color: #ffffff!important;
}

.company-nbCompany {
    background-color: #6fb4c9;
}

.company-nbContact {
    background-color: #cf1740;
}

