{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}} - Liste des secteurs d'activités
{% endblock %}

{% block gsbobjcom_body %}
	<h2>Liste des secteurs d'activités</h2>
	<ul>
		{% for unSecteur in lesSecteurs %}
		<li>
			{# Déclaration de la variable id_modif pour la passer d'URL #}
			{% set id_modif='/company/activity/sector/edit/' ~ unSecteur.id %}

			<p>{{unSecteur.label}}
			<a href={{id_modif}} class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Modifier</a>&nbsp;&nbsp;

			{# Déclaration de la variable id_suppress pour la passer d'URL #}
			{% set id_suppress='/company/activity/sector/delete/' ~ unSecteur.id %}
			<a href={{id_suppress}} class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></p>
		</li>
		{% else %}
		<li>Pas de secteur d'activité enregistré</li>
		{% endfor %}
	</ul>
{% endblock %}