{% extends "base.html.twig" %}

{% block title %}
	{{parent() -}}
{% endblock %}

{% block stylesheet %}
{{parent()}}
{% endblock %}

{% block contentPage %}
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">{% block h1 %}{% endblock %}</h1>
		<!-- Content Search -->
		{% block contentSearch %}
			<div class="search-filter-container">
	        	<input class="search-filter" id="search-filter" type="text" placeholder="Rechercher"><span class="search-filter-logo"><i class="fas fa-search"></i></span>
	        </div>
	    {% endblock %}
	</div>
	<div class="contentBody border-0 rounded">
		{% block contentBodyContainer %}
			<div class="contentBody-container">
				{% block contentBody %}
				{% endblock %}
			</div>
		{% endblock %}
	</div>
	<br>
{% endblock %}

{% block javascript %}
{{parent()}}
{% endblock %}