{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}} - Liste des tranches de nombres d'employés
{% endblock %}

{% block gsbobjcom_body %}
	<h2>Liste des tranches de nombres d'employés</h2>
	<ul>
		{% for unNbEmployee in lesNbEmployees %}
		<li>
			{# Déclaration de la variable id_modif pour la passer d'URL #}
			{% set id_modif='/company/NbEmployee/edit/' ~ unNbEmployee.id %}

			<p>{{unNbEmployee.nbEmployee}}
			<a href={{id_modif}} class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Modifier</a>&nbsp;&nbsp;

			{# Déclaration de la variable id_suppress pour la passer d'URL #}
			{% set id_suppress='/company/NbEmployee/delete/' ~ unNbEmployee.id %}
			<a href={{id_suppress}} class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></p>
		</li>
		{% else %}
		<li>Pas de tranches de nombres d'employés trouvées</li>
		{% endfor %}
	</ul>
{% endblock %}