{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}Equipe commerciale
{% endblock %}

{# {% block contentSearch %}
{% endblock %} #}

{% block h1 %}Equipe commerciale{% endblock %}

{% block contentBody %}

{% for commercial in listCom %}
<tr>
  <td><a href="{{ path('editCommercial', {'id':commercial.Id}) }}">{{commercial.CommercialPlugCreation|date("d/m/Y")}}</a></td>
  <td>
  	<a class="btn btn-danger" href="{{ path('deleteCommercial', {'id':commercial.Id}) }}">
  		<i class="glyphicon glyphicon-trash"></i>Supprimer
  	</a>
  </td>
</tr>
{% else %}
<tr>
  <td>Aucun Commercial</td>
</tr>
{% endfor %}

{% endblock %}
